<div class="container">
  <div style="text-align:center">
    <h2>Displaying Map 2</h2>
    <div class="col-12">
      <div class="map2Div" leaflet [leafletOptions]="map2options">
      </div>
      <span class="col-5">
        <a href='/map1'>
          <button class="btn btn-dark">Navigate to Map-1</button>
        </a>
      </span>
      <span class="col-5">
        <a href="">
          <button class="btn btn-dark">Go Back to Home Page</button>
        </a>
      </span>
    </div>
  </div>
</div>